<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StringReplace11" value="http://localhost:1035" />
    <add key="StringReplace12" value="http://localhost" />

    <add key="StringReplace21" value="http://localhost:1035" />
    <add key="StringReplace22" value="http://localhost" />
    
    <add key="StringReplace31" value="http://localhost:1035" />
    <add key="StringReplace32" value="http://localhost" />

    <add key="StringReplace41" value="http://localhost:1035" />
    <add key="StringReplace42" value="http://localhost" />

    <add key="StringReplace51" value="http://localhost:1035" />
    <add key="StringReplace52" value="http://localhost" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>